

{%extends 'base.html'%}

{% load i18n %}

{%block style%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
	    :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

  .go3d{  min-width:100px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;}


}


</style>
{%endblock%}
{%block inputsearch%}

    <div id="searchexpense" class="container">
    
   <nav class="navbar navbar-white fixed-top bg-white flex-md-nowrap p-0 shadow">
      <a class="navbar col-2  mr-0" href="#"> {{user.username}}</a>
      <input class="col-8 form-control form-control-dark w-100" type="text" placeholder="{% trans 'Search' %}" aria-label="Search">
      <ul class="navbar-nav px-3 col-2">
        <li class="nav-item text-nowrap">
         <a class="nav-link" href="#" ><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></a>

        </li>
      </ul>
    </nav>


  </div>
    {%endblock%}

{%block content%}
<div id='clientsprofiles'>
<div class="row">
	
<dir class="col-12 col-sm-12 col-md-6 col-lg-6" style="max-width:600px;overflow: auto;">
	  <table class="table "  >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> {% trans "Registrration Date" %}</th>
      <th scope="col">{% trans "Username" %}</th>
      <th scope="col">{% trans "Firstname" %}</th>
      <th scope="col">{% trans "Phone" %}</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="user in users"  v-cloak v-on:click="selectUser(user.id)" v-bind:class="{'bg-warning':(user.id==selecteduser)}">
      <th scope="row" v-cloak>[[user.id]]</th>
      <td v-cloak> [[parseDate(user.created_at)]] </td>
      <td v-cloak>[[user.username]]</td>
      <td v-cloak>[[user.first_name]]</td>
      <td v-cloak>[[user.phonenumber]]</td>

    </tr>
    
  </tbody>
</table>
</dir>
<!-- user business profile -->
<div class="col-12 col-sm-12 col-md-6 col-lg-6">
		<div v-for="user in users" v-if="selecteduser==user.id" style="margin-left: 40px;margin-top: 20px;">

  <ul class="list-group" >
     <div class="row">
   <li style="" class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >   {% trans "First Name" %}</h4>
        <small class="text-muted" v-cloak >  [[user.first_name]]</small>
      </div>
      <div>

        
      </div>
      
  </li>

           <li class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >  {% trans "Last Name" %} </h4>
        <small class="text-muted" v-cloak > [[user.last_name]] </small>
        
      </div>
      <div>
 
        
      </div>
      
      
  </li>

     	
     </div>

<!-- row 2 -->
          <div class="row" style="margin-top: 20px;">
             <li class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >  {% trans "Birthdate" %} </h4>
        <small class="text-muted" v-cloak > [[user.birth_date]] </small>
        
      </div>
      <div>

        
      </div>
      
      
  </li>
   <li style="" class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6">
        <div>
        <h4  class="my-0" >  {% trans "Phone" %} </h4>
        <small class="text-muted" v-cloak > [[user.phonenumber]] </small>
      </div>
      <div>

        
      </div>
      
      
  </li>
     	
     </div>
<!-- row -->
               <div class="row" style="margin-top: 20px;">
     	   <li class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >  {% trans "Email" %} </h4>
        <small class="text-muted" v-cloak > [[user.email]] </small>
      </div>
      <div>
  
        
      </div>
      
      
  </li>
   <li class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >  {% trans "Gender" %} </h4>
        <small class="text-muted" v-cloak > [[user.gender]] </small>
      </div>
      <div>
     
        
      </div>
      
      
  </li>
     	
     </div>

               <div class="row" style="margin-top:20px; margin-bottom:20px; ">

<!--    <li style="" class="list-group-item d-flex justify-content-between lh-condensed col-12 col-sm-12 col-md-12 col-lg-6" >
        <div>
        <h4  class="my-0" >  Access Level</h4>
        <small class="text-muted" v-cloak> [[employee.employee_privillage]] </small>
      </div>
      <div>
      <h4 class="my-0">  </h4>
      <small class="text-muted">  </small>
        
      </div>
      
      
  </li> -->
     	
     </div>




</ul> 

  
</div>
<!-- business part of user profile -->
<div style="margin-left: 30px;">
{% trans "Businesses" %}

	 <small class="text-muted">
    	  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between lh-condensed"  v-cloak  style="overflow: auto;" v-on:click="filterAccounts('',true)">
        <div class="container">
        <h4  class="my-0" v-cloak>    {% trans "Name" %}</h4>
       <small class="text-muted" v-cloak>  {% trans "Date Created" %}</small>

      </div class="container">
      <div>
      <h4 class="my-0" v-cloak>  {% trans "Phonenumber" %}</h4>
     <small class="text-muted" v-cloak>  {% trans "Email" %}</small>

        
      </div>

       <div class="container">
      <h4 class="my-0" v-cloak>  {% trans "Nature" %} </h4>
      <small class="text-muted" v-cloak>  {% trans "Location" %}</small>
        
      </div>
      
      
  </li>

     
   <li  v-for="comp in businesses" v-cloak  style="overflow: auto;" v-on:click="filterAccounts(comp)" v-bind:class="{'list-group-item':true,'d-flex':true,'justify-content-between':true,'lh-condensed':true,'bg-warning':(comp.business_name==selected_business)}">
 
   	<div class="container">
        <h4  class="my-0" v-cloak>  [[comp.business_name]] </h4>
       <small class="text-muted" v-cloak> [[parseDate(comp.created_at)]] </small>

      </div class="container">
      <div>
      <h4 class="my-0" v-cloak> [[comp.business_phone]] </h4>
     <small class="text-muted" v-cloak> [[comp.business_email]] </small>

        
      </div>

       <div class="container">
      <h4 class="my-0" v-cloak> [[comp.business_nature]] </h4>
      <small class="text-muted" v-cloak> [[comp.business_location]] </small>
        
      </div>
  
        
      
      
  </li>

</ul>
    </small>
     
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom cont " id="search" style="margin-left: 30px;overflow: auto;">
<div class="container">
	<h1 class="go3d" v-cloak v-if="isGrossprofit" >{% trans "Gross Profit" %}: [[ number_to_Cash(getProfiLoss()) ]]</h1>
  <h1 class="go3d" v-cloak v-if="!isGrossprofit" >{% trans "Gross Loss" %}: [[ number_to_Cash(getProfiLoss()) ]]</h1>

</div>
<dir class="container">
	 <h1 class="go3d" v-cloak v-if="isNetprofit" >{% trans "Net Profit" %}: [[number_to_Cash(getProfiLoss(false)) ]]</h1>

 <h1 class="go3d" v-cloak v-if="!isNetprofit" >{% trans "Net Loss" %}: [[ number_to_Cash(getProfiLoss(false)) ]]</h1>

</dir>
  
 
  
</div>
<div style="margin-left: 30px; margin-bottom: 20px; overflow: auto;">
	  <ul class="list-group" >
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
   
        <h4  class="" v-cloak><!-- [[customer.customer_name]] -->  {% trans "Pending Sales" %}</h4>
        
      </div>
      <div>

      <h4 class="text-muted align-right" v-cloak> <!--  [[customer_total_order(customer)]] -->[[getTotalCreditSales()]]</h4>
        
      </div>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
   
        <h4  class="" v-cloak><!-- [[customer.customer_name]] -->  {% trans "Actual Sales" %}</h4>
        
      </div>
      <div>

      <h4 class="text-muted align-right" v-cloak> <!--  [[customer_total_order(customer)]] -->[[getTotalCreditSales(false)]]</h4>
        
      </div>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
   
        <h4  class="" v-cloak><!-- [[customer.customer_name]] --> {% trans "Expense" %} </h4>
        
      </div>
      <div>

      <h4 class="text-muted align-right" v-cloak> <!--  [[customer_total_order(customer)]] -->[[getTotalCredit()]]</h4>
        
      </div>
  </li>

</ul> 
</div>
<!-- end business part of user profile -->
</div>
<!-- end user business profile -->
</div>

</div>
{%endblock%}

{%block script%}
  <script >

wm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#searchexpense',
  data:{
    searchfileditem:'',
    title:''
  }
  ,methods:{
    getExpense:function(){
     //  let api_url='/api/expense';
     //  if(this.searchfiledexpense!==''||this.searchfiledexpense!==null){
     //    api_url='/api/expense/?search='+this.searchfiledexpense;
     //  }

     // this.$http.get(api_url)
     // .then(function(response){

     //  vmex.expenses=response.data
     //  // this.alertOnMininumIrem(this.items)
     // })
     // .catch(function(error){
     //  this.title='error getting items'
     // })
    },

  }

})

 vmex=new Vue({
  delimiters: ['[[', ']]'],
  el: '#clientsprofiles',
  data:{
  	users:'',
  	selecteduser:'',
  	credits:'',
	debits:'',
	businesses:'',
	accounts:'',
	totalsales:0,
	credit_sales:0,
	actual_sales:0,
	total_expenses:0,
	isGrossprofit:true,
	isNetprofit:true,
	expenses:'',
	sales:'',
	useraccount:'',
selected_business:'',

  },
  methods:{
 getUsers:function(){
     this.$http.get('/get/user/')
     .then(function(response){
      this.users=response.data

     })
     .catch(function(error){
      this.title='error getting expenses'
     })
    },
  getCredit:function(userid){
     this.$http.get('/get/credit/'+userid+'/')
     .then(function(response){
      this.expenses=response.data
      if(this.selected_business!="")
      this.expenses=this.filterBusiness(this.expenses)



     })
     .catch(function(error){
      this.title='error getting expenses'
     })
    },
   getDebit:function(userid){
     this.$http.get('/get/debit/'+userid+'/')
     .then(function(response){
      this.sales=response.data
       if(this.selected_business!="")
      this.sales=this.filterBusiness(this.sales)


     })
     .catch(function(error){
      this.title='error getting expenses'
     })
    },
    getBusiness:function(userid){
     this.$http.get('/get/business/'+userid+'/')
     .then(function(response){
      this.businesses=response.data

     })
     .catch(function(error){
      this.title='error getting expenses'
     })
    },
    getAccount:function(userid){
     this.$http.get('/get/account/'+userid+'/')
     .then(function(response){
      this.accounts=response.data

     })
     .catch(function(error){
      this.title='error getting expenses'
     })
    },
    parseDate:function(date){

    return moment(date).format('LLLL');

    },
    selectUser:function(userid){
    this.selecteduser=userid
    this.selected_business=''
    this.getAccount(userid)
    this.getBusiness(userid)
    // get sales
    this.getDebit(userid)
    // get expenses
    this.getCredit(userid)
    },
    getProfiLoss:function(gross=true){
       this.totalsales=this.credit_sales+this.actual_sales
      
      // profit /loss with sales on loan
      if(this.totalsales>=this.total_expenses)this.isGrossprofit=true
      else if(this.totalsales<this.total_expenses)this.isGrossprofit=false
     
     // profit/loss with sale without loans
      if(this.actual_sales>=this.total_expenses)this.isNetprofit=true
      else if(this.actual_sales<this.total_expenses)this.isNetprofit=false

      if(gross && this.isGrossprofit )return this.totalsales-this.total_expenses
      else if(gross && !this.isGrossprofit )return this.total_expenses-this.totalsales
      else if(!gross && this.isNetprofit )return this.actual_sales-this.total_expenses
      else if(!gross && !this.isNetprofit )return this.total_expenses-this.actual_sales


    },
    getTotalCredit:function(){
      var amount=0;
     $.each(this.expenses, function(key, value) {
           
            amount+=value.credit_amount
             
         });
     this.total_expenses=amount
     
      return this.number_to_Cash(amount,'Tsh')

    },
    number_to_Cash:function(number,currency="Tsh"){

       amount = currency + number.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
     return amount;

    },
    getTotalCreditSales:function(credit=true){
      var amount=0;

     $.each(this.sales, function(key, value) {
           if(value.debit_credit && credit ){
            amount+=value.debit_amount
             }else if(!value.debit_credit && !credit){
              amount+=value.debit_amount
             }
         });

     if(credit)this.credit_sales=amount
     else this.actual_sales=amount
     
    return this.number_to_Cash(amount,'Tsh')

    },
    filterAccounts:function(comp,all=false){
      // this.useraccount=val
      // this.selected_business=businesname
      var id=''
      $.each(this.accounts, function(key, value) {
           if(value.business == comp.id ){
            	id=value.id
             }
         });

      this.useraccount=id
      if(!all)this.selected_business=comp.business_name
      else this.selected_business=''

      this.getDebit(this.selecteduser)
      this.getCredit(this.selecteduser)
    },
    filterBusiness:function(expenses){
      useraccount=this.useraccount
      newsale = expenses.filter(function(expense){
        return expense.account==useraccount
        
      })
      return newsale
    },

  },beforeMount(){
  	this.getUsers()
  }

})

  </script>
{%endblock%}