

{%extends 'base.html'%}
{% load i18n %}

{%block style%}
<!-- {% load static %}
<link rel="stylesheet" href="{% static "css/floating-labels.css" %}" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">

    :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
  zoom: 90%;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


  .go3d{  min-width:100px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;}

  .stocks_display{
  min-width:50px; max-width:50px; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 -1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right:20px; 
border-radius: 25px;
}
.display_sales_form{

  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.19);
/*  text-align: center;
*/  background-color: #ffffff;
  display: block;
  position: absolute;
  border-radius: 10px;
  margin-top:20px; 
  min-width: 300px;
  z-index: 1; 

}
.buttons_sales{
   min-width:100px; max-width:100px; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 -1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right:20px; 
border-radius: 10px;
}

div.stocks_display:hover , .buttons_sales:hover{
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 2px rgba(0, 0, 0, 0.19);
}

.fa {
  color: yellow;
}
.go3d_cool{   
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}


</style>
{%endblock%}
{%block inputsearch%}

   <div id="searchsalesid" class="container">
<!-- nav -->
       <nav class="navbar navbar-white fixed-top bg-white flex-md-nowrap p-0 shadow">
      <a class="navbar col-2  mr-0" href="#"> {{user.username}}</a>
      <input class="col-8 form-control form-control-dark w-100" type="text" placeholder="{% trans 'Search' %}" aria-label="Search" v-model="searchsalesmodel" v-on:keyup.enter="searchSales">
      <ul class="navbar-nav px-3 col-2">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" ><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></a>
        </li>
      </ul>
    </nav>
<!-- end nav -->

  </div>
    {%endblock%}


{%block content%}

<div id=debittaccount class="container" >
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="search">

  <h3 v-cloak >{% trans "Total" %}: [[ getTotalSales(true) ]]</h3>

        <span v-cloak class="go3d" v-if="showbusiness" v-on:click="onShowBusiness()"> [[selected_business]]</span>

<div class="dropdown pull-right selectbuz" v-if="!showbusiness">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span data-feather="calendar" v-cloak></span>
                     {% trans "Business" %}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <span v-on:click="onShowBusiness()"><a class="dropdown-item" href="#" v-on:click="filterAccounts('','{% trans 'All' %}')" >{% trans "All" %}  </a></span>
      <span v-on:click="onShowBusiness()"v-for="business in businesses">

         <a class="dropdown-item" href="#" v-on:click="filterAccounts(account.id,business.business_name)" v-for ="account in accounts" v-if="account.business == business.id">[[business.business_name]] </a>
      </span>
     
       
      </div>
      </div>

        <!-- buttons selection -->
<!--   <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
  </label>

</div> -->
<!-- end button selection -->
  
</div>
<div class=" row stocks_display" v-on:click="displaySalesForm()" style="margin-bottom: 10px;">
  <i class="fa fa-plus fa-2x"></i>
</div>
<div class='row' >
  <div class='col-lg-8 col-md-8 col-sm-12 col-12' style="margin-bottom: 20px;">
  <div class="row display_sales_form" v-if="dispalysalesform">
       <form class="form-signin" v-on:submit="submitSales">
    {% csrf_token %}

<!--       <div class="form-label-group" v-cloak>
        <input type="text" id="inputcustomername" class="form-control" placeholder=" Customer Name" v-model='customername' required autofocus>
        <label for="inputcustomername" v-cloak>Customer Name  </label>
      </div>
       -->
      <div class="form-label-group" v-cloak>
        <input type="number" id="inputsaleamount" class="form-control" placeholder="Amount" v-model='salesamount' required autofocus>
        <label for="inputsaleamount" v-cloak>{% trans "Amount" %}</label>
      </div>
      <div class="form-label-group" v-cloak>
        <input type="text" id="inputsaledescription" class="form-control" placeholder="Description" v-model='saledescription'  autofocus>
        <label for="inputsaledescription" v-cloak> {% trans "Description" %} </label>
      </div>
       

      <!-- <button class="btn btn-lg btn-outline-primary btn-block" type="submit" v-cloak>[[new_edit_button]]</button> -->
      <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
      <div class="row">
<!--         <div class="buttons_sales text-primary" style="margin-left: 10px;">closing</div>
 -->         <div class="buttons_sales text-warning" style="margin-left: 180px;" v-cloak v-on:click="submitSales()">
 <!-- find a way to tranlate this js (vue) variable -->
{% trans "[[new_edit_button]]" %}
 </div>

      </div>
    </form>
    
  </div>

  <div class="row"  style=" max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> {% trans "Date" %}</th>
      <th scope="col" v-if="selected_business=='{% trans 'All' %}'">  {% trans "Business" %}</th>
      <th scope="col"> {% trans "Logged by" %}</th>
<!--       <th scope="col"> {% trans "Customer Name" %}</th>
 -->      <th scope="col"> {% trans "Description" %}</th>
      <th scope="col"> {% trans "type" %} </th>
      <th scope="col">{% trans "Cost" %} </th>


      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="sale in sales" v-if="!sale.debit_credit" v-cloak v-on:dblclick="editSales(sale.id,sale.debit_from,sale.debit_amount,sale.debit_reason,sale.account)">
      <th scope="row" v-cloak>[[sale.id]]</th>
      <td v-cloak> [[parseDate(sale.created_at)]] </td>
      <td v-cloak v-if="selected_business=='{% trans 'All' %}' && sale.account == account.id" v-for="account in accounts">
      <span v-for="business in businesses" v-if="account.business==business.id">[[business.business_name]]</span></td>

      <td v-cloak > [[getUserFristname(sale.user)]] </td>
<!--       <td v-cloak>[[sale.debit_from]]</td>
 -->      <td v-cloak>[[sale.debit_reason]]</td>
      <td v-cloak>[[sale.debit_type]]</td>
      <td v-cloak>[[sale.debit_amount]]</td>
      <td><button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id)">

                <span aria-hidden="true">&times;</span>
          </button></td>
    </tr>
    
  </tbody>
</table>



    
</div>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6  class="my-0" >  {% trans "Balance" %}</h6>
       
      <div>
       
      </div>
        <h2 class="text-muted" v-cloak>  [[getTotalSales()]] </h2>
      </div>
  </li>

</ul>

</div>

<!-- begin order -->
<div class='col-lg-4 col-md-4 col-sm-12 col-12' style="margin-top: 0px; max-height: 800px;
  overflow-y: auto;
  overflow-x: auto;">

<div  style="margin-bottom: 20px;">
  <ul class="list-group" style="margin-bottom: 10px;" >
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
   
        <h4  class="" v-cloak><!-- [[customer.customer_name]] -->  {% trans "Pending Sales" %}</h4>
        
      </div>
      <div>

      <h4 class="text-warning align-right" v-cloak> <!--  [[customer_total_order(customer)]] -->[[getTotalCreditSales()]]</h4>
        
      </div>
  </li>

</ul> 
<div >

   <ul class="list-group">

      <li class="list-group-item d-flex justify-content-between lh-condensed go3d_cool" v-for= "sale in sales"  v-if="sale.debit_credit" v-on:dblclick="editSales(sale.id,sale.debit_from,sale.debit_amount,sale.debit_reason,sale.account)" v-cloak>
                <div class="container">
                  <h6  class="my-0" v-cloak>[[sale.debit_from]] </h6>
                  <small class="text-muted" v-cloak> [[sale.debit_reason]] </small>
                </div>
                  <div class="container" v-cloak v-if="selected_business=='{% trans 'All' %}' && sale.account == account.id" v-for="account in accounts">
      <span v-for="business in businesses" v-if="account.business==business.id">[[business.business_name]]</span></div>
                <div class="container">
                <span v-cloak class="text-warning" >Tsh [[sale.debit_amount]] </span>


                <br>
                <!-- <span aria-hidden="true"  v-if="customer.id == sale.customer" v-cloak>[[customer.customer_name]]</span> -->
                <button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id)">

                <span aria-hidden="true">&times;</span>
          </button>
          <i tyep="button" class="fa fa-check" style="font-size:24;color:green" v-on:click="acceptSale(sale.id)"></i>
                  
                </div>
                
              </li>

   </ul>

</div>
    
  
<!--  <button style="margin-top: 10px;" v-on:click="acceptSale(sale.id)" class='btn btn-outline-primary btn-small'>Accept</button>
  <button v-on:click="declineSale(sale.id)" style="margin-top: 10px;" class='btn btn-outline-dark btn-small'>Decline</button> -->

</div>

</div>

<!-- end order -->

</div>

</div>



{%endblock%}

{%block script%}
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
 <script>
    moment().format();
</script>
<script type="text/javascript">
  // $.notify('order')

</script>
  <script >

new Vue({
  delimiters: ['[[', ']]'],
  el: '#searchsalesid',
  data:{
    reference_sales:'',
searchsalesmodel:"",
  },
  methods:{
    searchSales:function(){
    // o.find(function(el){return el==5});

      //  a function to find an id in a list of ids
      function find_id(ids,findid){
        if(ids.find(function(id){return id==findid})==null)
          return false
        else return true
      }
      
      // linking the current vue instance with the vsale vue instance
      var sales=vsale.reference_sales
      var businesses =vsale.businesses
      var accounts = vsale.accounts
      var users=vsale.mypeople

      // testing if the search bar is empaty, if so just return the original sales list otherwise seaarch throught the browser memory 
      if(this.searchsalesmodel.trim()==="")
         vsale.sales=sales
       else{

      var li=this.searchsalesmodel.trim().split(" ")


      // creating a llist of words that need to be seached , from the word passed in the search bar
      var newwords=[]
      for(var i=0;i<li.length;i++){
        if(li[i].length>0)
          {
            console.log(li[i])
            newwords.push(li[i])
          }
        }

      
      function find_business(business_name,acc_id){
        // first searching throught the businesses for a typed in bussiness name 
        var newbusinesses
        newbusinesses = businesses.filter(function(busness){
        return busness.business_name.toLowerCase().trim() == business_name.toLowerCase().trim()
        
         })

      // createing an array of ids for the caught bussiness names for corresponding accounts
      var account_ids=[]
      $.each(newbusinesses, function(key, buz) {
           $.each(accounts, function(key, acc) {
            if(acc.business==buz.id){
              account_ids.push(acc.id)
            }
         });

         });

      return find_id(account_ids,acc_id)

      }

      function find_user(username,userid){
        var newusers
        console.log("users")
      console.log(users)
        newusers = users.filter(function(user){
        return user.first_name.toLowerCase().trim() == username.toLowerCase().trim()
         })

        var userids=[]
      $.each(newusers, function(key, userz) {
          userids.push(userz.id)
         });

      // checking if the current users first name is equal to the name passed into the function, if yes add the users id into the array
      if(username.toLowerCase().trim()==vsale.userfirstname)userids.push(vsale.userid)

       return find_id(userids,userid)

      }

      // function find_date(date){

      //   // moment('2018-10-02').isAfter(moment('2018-10-01'))

      // }

      var newsales
      for(var i=0;i<newwords.length;i++ ){
        newsales = sales.filter(function(sale){
        return (sale.debit_amount == newwords[i] || sale.debit_reason.toLowerCase().trim() == newwords[i].toLowerCase().trim() || sale.debit_type.toLowerCase().trim() == newwords[i].toLowerCase().trim()||find_business(newwords[i],sale.account)||find_user(newwords[i],sale.user)||moment(sale.created_at).isSame(moment(newwords[i]),'day'))
        
      })
      sales=newsales
      }

      // updating the sales in the vsales vue instance
      
      vsale.sales=newsales


       }

      
    },
  }
})


vsale=new Vue({
  delimiters: ['[[', ']]'],
  el: '#debittaccount',
  data: {
    customername:'',
salesamount:'',
saledescription:'',
sales:'',
totalsale:0,
useraccount:'',
salestype:'cash',
edit:false,
saleid:'',
new_edit_button:'New Sale',
accounts:'',
number_of_accounts:'',
businesses:'',
selected_business:'All',
showbusiness:true,
userid:'{{user.id}}',
userfirstname:'{{user.first_name}}',
mypeople:'',
dispalysalesform:false,
current_language:'{{ LANGUAGE_CODE }}',
reference_sales:'',
searchsalesmodel:"",
  },

  methods:{

    displaySalesForm:function(){
      if(this.dispalysalesform)this.dispalysalesform=false;
      else this.dispalysalesform=true;
    },
    // to be changed such that it is used to dispaly  all or a certain debit account
    // and another function which will use the default account fields in the db shall be used foe debit entries
    filterAccounts:function(val,businesname){
      this.useraccount=val
      this.selected_business=businesname
      this.getSales()
    },
    filterBusinessSales:function(sales){
      useraccount=this.useraccount
      newsale = sales.filter(function(sale){
        return sale.account==useraccount
        
      })
      return newsale
    },
    onShowBusiness:function(){
      this.showbusiness=!this.showbusiness
    },
     getAccount:function(){
      var newaccount
     this.$http.get('/api/account')
     .then(function(response){
      this.accounts=response.data
      count=0
      $.each(this.accounts, function(key, value) {
           count+=1;
         });
      this.number_of_accounts=count

      // filtering accounts that are not fully filled
      // and are have lasted for more than 3 days

      newaccount = this.accounts.filter(function(account){
        return !(moment(account.created_at).isAfter(moment(account.created_at).add(3,'d')) &&( account.bank_account_name==null ||account.bank_account_number==null || account.bank_account_name=="" || account.bank_account_number==""))
        
      })

      this.accounts=newaccount
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    getUserFristname:function(userid){
      var user=''
      $.each(this.mypeople, function(key, value) {
           if(value.id == userid ){
            user=value.first_name
             }
         });
      
      if(user == '')user='{{user.first_name}}'
      return user

    },
    getBusiness:function(){
     this.$http.get('/api/business')
     .then(function(response){
      this.businesses=response.data      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    submitSales:function(e){
      if(!this.edit){
        if(this.useraccount==""){
          if(this.number_of_accounts>=1)
            $.notify("select a business","error")
            else{
        $.notify("business not yet created","error")
        $.notify("Go to settings \n to create business","info")

            }
        }else{
            this.$http.post('/api/debitaccount/',{'account':this.useraccount,'debit_from':'none','debit_reason':this.saledescription,'debit_amount':this.salesamount,'debit_type':this.salestype,'user':this.userid})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.customername='';
        this.salesamount='';
        this.saledescription='';
        this.getSales()
       })
       .catch(function(error){
        this.title='error getting items'
       })

        }
      

      }else{

        this.$http.put('/api/debitaccount/'+this.saleid+'/',{'account':this.useraccount,'debit_from':'none','debit_reason':this.saledescription,'debit_amount':this.salesamount,'debit_type':this.salestype,'user':this.userid})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.customername='';
        this.salesamount='';
        this.saledescription='';
        this.edit=false;
        this.new_edit_button="New Sale"
        this.getSales()
       })
       .catch(function(error){
        this.title='error getting items'
       })

      }

      

      
      e.preventDefault();

    },
    getSales:function(){
      this.$http.get('/api/debitaccount')
     .then(function(response){
      this.sales=response.data
      if(this.selected_business!=this.matchLanguage("All"))
      this.sales=this.filterBusinessSales(this.sales)
      this.reference_sales=this.sales
      this.getMyPeople()
     })
     .catch(function(error){
      this.title='error getting items'
     })

    }
    ,getMyPeople:function(){
     this.$http.get('/get/myusers')
     .then(function(response){
      this.mypeople=response.data
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    parseDate:function(date){

    return moment(date).format('LLLL');

    },
    getTotalSales:function(now=false){
      var amount=0;
     if(!now){
      $.each(this.sales, function(key, value) {
           if(!value.debit_credit ){
            amount+=value.debit_amount
             }
         });

     } else{
      $.each(this.sales, function(key, value) {
            amount+=value.debit_amount
             
         });

     }
     
     
     amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
     return amount;
    },
    getTotalCreditSales:function(){
      var amount=0;
     $.each(this.sales, function(key, value) {
           if(value.debit_credit ){
            amount+=value.debit_amount
             }
         });
     
     amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
     return amount;
    },

    editSales:function(id,customername,amount,reason,account){
      this.saleid=id;
      this.customername=customername;
        this.salesamount=amount;
        this.saledescription=reason;
        this.edit=true;
        this.new_edit_button="Edit Sale"
        this.useraccount=account
    },
    deleteSale:function(id){
      this.$http.delete('/api/debitaccount/'+id+'/')
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.getSales()
        // alert('response')
       })
       .catch(function(error){
        this.title='error getting items'
       })
    },
    acceptSale:function(id){
        this.$http.post('/debitaccount/'+id+'/',{'id':id})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.getSales()

       })
       .catch(function(error){
        this.title='error getting items'
       })

    },
    matchLanguage:function(word){
      new_word=word
        if (word=="All"){
          if(this.current_language=='en'){
              new_word=word      
          }
          else if(this.current_language=='sw'){
              new_word="Zote"
          }
        
        }
        return new_word

    },
    declineSale:function(id){


    },
    },

    beforeMount(){
      console.log(this.current_language)
    if(this.current_language=='en'){
      console.log('got english')
      
      this.selected_business="All"
    }
    else if(this.current_language=='sw'){
      console.log('got swahili')
      this.selected_business="Zote"
    }
    this.getSales()
    this.getAccount()
    this.getBusiness()

    }
  }
)
  </script>
{%endblock%}