

{%extends 'base.html'%}

{%block style%}
<!-- {% load static %}
<link rel="stylesheet" href="{% static "css/floating-labels.css" %}" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">

    :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


  .go3d{  min-width:100px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;}




</style>
{%endblock%}
{%block inputsearch%}

   <div id="searchsales" class="container">
    
   <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-2  mr-0" href="#"> {{user.username}}</a>
      <input class="col-8 form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3 col-2">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/login/">Sign out</a>
        </li>
      </ul>
    </nav>


  </div>
    {%endblock%}


{%block content%}

<div id=debittaccount class="container" >
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="search">

  <h1 v-cloak >Total: [[ getTotalSales(true) ]]</h1>

        <span v-cloak class="go3d" v-if="showbusiness" v-on:click="onShowBusiness()">[[selected_business]]</span>

<div class="dropdown pull-right selectbuz" v-if="!showbusiness">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span data-feather="calendar" v-cloak></span>
                     Business
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <span v-on:click="onShowBusiness()"><a class="dropdown-item" href="#" v-on:click="filterAccounts('','All')" >All </a></span>
      <span v-on:click="onShowBusiness()"v-for="business in businesses">

         <a class="dropdown-item" href="#" v-on:click="filterAccounts(account.id,business.business_name)" v-for ="account in accounts" v-if="account.business == business.id">[[business.business_name]] </a>
      </span>
     
       
      </div>
      </div>

        <!-- buttons selection -->
<!--   <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
  </label>

</div> -->
<!-- end button selection -->
  
</div>
<div class='row' >
  <div class='col-lg-8 col-md-8 col-sm-12 col-12'>
  <div class="row">
       <form class="form-signin" v-on:submit="submitSales">
    {% csrf_token %}

      <div class="form-label-group" v-cloak>
        <input type="text" id="inputcustomername" class="form-control" placeholder=" Customer Name" v-model='customername' required autofocus>
        <label for="inputcustomername" v-cloak>Customer Name  </label>
      </div>
      
      <div class="form-label-group" v-cloak>
        <input type="number" id="inputsaleamount" class="form-control" placeholder="Amount" v-model='salesamount' required autofocus>
        <label for="inputsaleamount" v-cloak>Amount </label>
      </div>
      <div class="form-label-group" v-cloak>
        <input type="text" id="inputsaledescription" class="form-control" placeholder="Description" v-model='saledescription'  autofocus>
        <label for="inputsaledescription" v-cloak>Description </label>
      </div>
            
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" v-cloak>[[new_edit_button]]</button>
      <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
    </form>
    
  </div>

  <div class="row"  style=" max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col" v-if="selected_business=='All'"> Business</th>
      <th scope="col">Logged by</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Description</th>
      <th scope="col">type</th>
      <th scope="col">Cost</th>


      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="sale in sales" v-if="!sale.debit_credit" v-cloak v-on:dblclick="editSales(sale.id,sale.debit_from,sale.debit_amount,sale.debit_reason,sale.account)">
      <th scope="row" v-cloak>[[sale.id]]</th>
      <td v-cloak> [[parseDate(sale.created_at)]] </td>
      <td v-cloak v-if="selected_business=='All' && sale.account == account.id" v-for="account in accounts">
      <span v-for="business in businesses" v-if="account.business==business.id">[[business.business_name]]</span></td>

      <td v-cloak > [[getUserFristname(sale.user)]] </td>
      <td v-cloak>[[sale.debit_from]]</td>
      <td v-cloak>[[sale.debit_reason]]</td>
      <td v-cloak>[[sale.debit_type]]</td>
      <td v-cloak>[[sale.debit_amount]]</td>
      <td><button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id)">

                <span aria-hidden="true">&times;</span>
          </button></td>
    </tr>
    
  </tbody>
</table>



    
</div>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6  class="my-0" > Balance </h6>
       
      <div>
       
      </div>
        <h2 class="text-muted" v-cloak>  [[getTotalSales()]] </h2>
      </div>
  </li>

</ul>

</div>

<!-- begin order -->
<div class='col-lg-4 col-md-4 col-sm-12 col-12' style="margin-top: 20px; max-height: 800px;
  overflow-y: auto;
  overflow-x: auto;">

<div  style="margin-bottom: 20px;">
  <ul class="list-group" >
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
   
        <h4  class="" v-cloak><!-- [[customer.customer_name]] --> Pending Sales</h4>
        
      </div>
      <div>

      <h4 class="text-muted align-right" v-cloak> <!--  [[customer_total_order(customer)]] -->[[getTotalCreditSales()]]</h4>
        
      </div>
  </li>

</ul> 
<div >

   <ul class="list-group">

      <li class="list-group-item d-flex justify-content-between lh-condensed" v-for= "sale in sales"  v-if="sale.debit_credit" v-on:dblclick="editSales(sale.id,sale.debit_from,sale.debit_amount,sale.debit_reason,sale.account)" v-cloak>
                <div class="container">
                  <h6  class="my-0" v-cloak>[[sale.debit_from]] </h6>
                  <small class="text-muted" v-cloak> [[sale.debit_reason]] </small>
                </div>
                  <div class="container" v-cloak v-if="selected_business=='All' && sale.account == account.id" v-for="account in accounts">
      <span v-for="business in businesses" v-if="account.business==business.id">[[business.business_name]]</span></div>
                <div class="container">
                <span v-cloak class="text-muted" >Tsh [[sale.debit_amount]] </span>


                <br>
                <!-- <span aria-hidden="true"  v-if="customer.id == sale.customer" v-cloak>[[customer.customer_name]]</span> -->
                <button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id)">

                <span aria-hidden="true">&times;</span>
          </button>
          <i tyep="button" class="fa fa-check" style="font-size:24;color:green" v-on:click="acceptSale(sale.id)"></i>
                  
                </div>
                
              </li>

   </ul>

</div>
    
  
<!--  <button style="margin-top: 10px;" v-on:click="acceptSale(sale.id)" class='btn btn-outline-primary btn-small'>Accept</button>
  <button v-on:click="declineSale(sale.id)" style="margin-top: 10px;" class='btn btn-outline-dark btn-small'>Decline</button> -->

</div>

</div>

<!-- end order -->

</div>

</div>



{%endblock%}

{%block script%}
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
 <script>
    moment().format();
</script>
<script type="text/javascript">
  // $.notify('order')

</script>
  <script >




vsale=new Vue({
  delimiters: ['[[', ']]'],
  el: '#debittaccount',
  data: {
    customername:'',
salesamount:'',
saledescription:'',
sales:'',
totalsale:0,
useraccount:'',
salestype:'cash',
edit:false,
saleid:'',
new_edit_button:'New Sale',
accounts:'',
number_of_accounts:'',
businesses:'',
selected_business:'All',
showbusiness:true,
userid:'{{user.id}}',
mypeople:'',

  },

  methods:{
    // to be changed such that it is used to dispaly  all or a certain debit account
    // and another function which will use the default account fields in the db shall be used foe debit entries
    filterAccounts:function(val,businesname){
      this.useraccount=val
      this.selected_business=businesname
      this.getSales()
    },
    filterBusinessSales:function(sales){
      useraccount=this.useraccount
      newsale = sales.filter(function(sale){
        return sale.account==useraccount
        
      })
      return newsale
    },
    onShowBusiness:function(){
      this.showbusiness=!this.showbusiness
    },
     getAccount:function(){
     this.$http.get('/api/account')
     .then(function(response){
      this.accounts=response.data
      count=0
      $.each(this.accounts, function(key, value) {
           count+=1;
         });
      this.number_of_accounts=count
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    getUserFristname:function(userid){
      var user=''
      $.each(this.mypeople, function(key, value) {
           if(value.id == userid ){
            user=value.first_name
             }
         });
      
      if(user == '')user='{{user.first_name}}'
      return user

    },
    getBusiness:function(){
     this.$http.get('/api/business')
     .then(function(response){
      this.businesses=response.data      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    submitSales:function(e){
      if(!this.edit){
        if(this.useraccount==""){
          if(this.number_of_accounts>=1)
            $.notify("select an business","error")
            else{
        $.notify("business not yet created","error")
        $.notify("Go to settings \n to create business","info")

            }
        }else{
            this.$http.post('/api/debitaccount/',{'account':this.useraccount,'debit_from':this.customername,'debit_reason':this.saledescription,'debit_amount':this.salesamount,'debit_type':this.salestype,'user':this.userid})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.customername='';
        this.salesamount='';
        this.saledescription='';
        this.getSales()
       })
       .catch(function(error){
        this.title='error getting items'
       })

        }
      

      }else{

        this.$http.put('/api/debitaccount/'+this.saleid+'/',{'account':this.useraccount,'debit_from':this.customername,'debit_reason':this.saledescription,'debit_amount':this.salesamount,'debit_type':this.salestype,'user':this.userid})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.customername='';
        this.salesamount='';
        this.saledescription='';
        this.edit=false;
        this.new_edit_button="New Sale"
        this.getSales()
       })
       .catch(function(error){
        this.title='error getting items'
       })

      }

      

      
      e.preventDefault();

    },
    getSales:function(){
      this.$http.get('/api/debitaccount')
     .then(function(response){
      this.sales=response.data
      if(this.selected_business!="All")
      this.sales=this.filterBusinessSales(this.sales)

      this.getMyPeople()
     })
     .catch(function(error){
      this.title='error getting items'
     })

    }
    ,getMyPeople:function(){
     this.$http.get('/get/myusers')
     .then(function(response){
      this.mypeople=response.data
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    parseDate:function(date){

    return moment(date).format('LLLL');

    },
    getTotalSales:function(now=false){
      var amount=0;
     if(!now){
      $.each(this.sales, function(key, value) {
           if(!value.debit_credit ){
            amount+=value.debit_amount
             }
         });

     } else{
      $.each(this.sales, function(key, value) {
            amount+=value.debit_amount
             
         });

     }
     
     
     amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
     return amount;
    },
    getTotalCreditSales:function(){
      var amount=0;
     $.each(this.sales, function(key, value) {
           if(value.debit_credit ){
            amount+=value.debit_amount
             }
         });
     
     amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
     return amount;
    },

    editSales:function(id,customername,amount,reason,account){
      this.saleid=id;
      this.customername=customername;
        this.salesamount=amount;
        this.saledescription=reason;
        this.edit=true;
        this.new_edit_button="Edit Sale"
        this.useraccount=account
    },
    deleteSale:function(id){
      this.$http.delete('/api/debitaccount/'+id+'/')
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.getSales()
        // alert('response')
       })
       .catch(function(error){
        this.title='error getting items'
       })
    },
    acceptSale:function(id){
        this.$http.post('/debitaccount/'+id+'/',{'id':id})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.getSales()

       })
       .catch(function(error){
        this.title='error getting items'
       })

    },
    declineSale:function(id){


    },
    },

    beforeMount(){

    this.getSales()
    this.getAccount()
    this.getBusiness()

    }
  }
)
  </script>
{%endblock%}