

{%extends 'base.html'%}

{%block style%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	[v-cloak]{
		display: none;
	}
</style>
{%endblock%}
{%block inputsearch%}

 <div id="" class="container">
    
   <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-2  mr-0" href="#"> {{user.username}}</a>
      <input class="col-8 form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3 col-2">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/login/">Sign out</a>
        </li>
      </ul>
    </nav>


  </div>
    {%endblock%}

{%block content%}

<div id="settings">

<!-- Demo $$$$$$$$$$$$$$$$$$$$$$$-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are You Sure </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
      	<p v-cloak>Deleteing [[nametobedeleted]] will erase all traces </p>
        

      </div>
      <div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" v-on:click="deleteEmployee()" >Yes</button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" v-on:click="stopDelete()">No</button>
      </div>
    </div>
  </div>
</div>


<!-- end demo $$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


	<h1 v-cloak>[[settings]]</h1>

<div class="list-group container">
  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start " style="margin-top: 20px">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Business</h5>
      <small><button v-on:click="checkSubmitCompanyForm" type="submit" class="btn btn-outline-primary btn-sm" v-cloak>[[company_add_edit_button]]</button></small>
    </div>
    <p class="mb-1">
    	<form >
    	{%csrf_token%}
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputCopanyName">BusinessName</label>
      <input type="text" class="form-control" id="inlineFormInputCompanyName" placeholder="Name"  v-model="companyname">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupCompanyEmail">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupCompanyEmail" placeholder="Email"  v-model="companyemail">
      </div>
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputCompanyPhone">Phone</label>
      <input type="text" class="form-control" id="inlineFormInputCompanyPhone" placeholder="Phone"  v-model="companyphone">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputCompanyAddress">Address</label>
      <input type="text" class="form-control" id="inlineFormInputCompanyAddress" placeholder="Address"  v-model="companyaddress">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputCompanyNature">Nature</label>
      <input type="text" class="form-control" id="inlineFormInputCompanyNature" placeholder="Nature"  v-model="companynature">
    </div>
    
  </div>
</form>

    </p>

   <small class="text-muted">
    	  <ul class="list-group">
     
   <li class="list-group-item d-flex justify-content-between lh-condensed" v-for="comp in company" v-cloak v-on:dblclick="editCompany(comp.id,comp.business_name,comp.business_location,comp.business_email,comp.business_phone,comp.business_nature)" style="overflow: auto;">
        <div class="container">
        <h4  class="my-0" v-cloak>  [[comp.business_name]] </h4>
       <small class="text-muted" v-cloak> [[parseDate(comp.created_at)]] </small>

      </div class="container">
      <div>
      <h4 class="my-0" v-cloak> [[comp.business_phone]] </h4>
     <small class="text-muted" v-cloak> [[comp.business_email]] </small>

        
      </div>

       <div class="container">
      <h4 class="my-0" v-cloak> [[comp.business_nature]] </h4>
      <small class="text-muted" v-cloak> [[comp.business_location]] </small>
        
      </div>
      
      
  </li>

</ul>
    </small>
      
      
  </li>

</ul>

  </div>
  <!-- end business -->
  <!-- begin store -->

  <!-- end store -->
  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top: 20px">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Account</h5>
      <small class="text-muted">
      <button type="submit" class="btn btn-outline-primary btn-sm" v-on:click="checkSubmitAccountForm">Update</button></small>
    </div>
       <p class="mb-1">    	
    <form>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputAccountName">Name</label>
      <input type="text" class="form-control" id="inlineFormInputAccountName" placeholder="Name" v-model="accountname">
    </div>
 <!--    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupAccountBalance" >Balance</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">#</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupAccountBalance" placeholder="Balance" v-model="accountbalance">
      </div>
    </div> -->
        
  </div>
</form></p>
    <small class="text-muted">
    	  <ul class="list-group">
     
   <li class="list-group-item d-flex justify-content-between lh-condensed" v-cloak v-for="acc in account" v-on:dblclick="editAccount(acc.business,acc.id,acc.account_name,acc.account_balance)" style="overflow: auto;">
        <div>
        <h4  class="my-0" v-cloak >  [[acc.account_name]] </h4>
<!--         <small class="text-muted" > Quantity </small>
 -->      </div>
      <div>
      <h4 class="my-0" v-cloak> [[acc.account_balance]] </h4>
<!--       <small class="text-muted"> Price </small>
 -->        
      </div>
      
      
  </li>

</ul>
    </small>
  </div>

<!-- begin employee -->
   <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top: 20px">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Partners</h5>
      <small class="text-muted"><button type="submit" v-bind:class="{'btn':true,'btn-sm':true,'btn-block':true,'btn-outline-primary':(addemployeebutton=='Add'),'btn-outline-dark':(addemployeebutton!='Add')}" v-cloak v-on:click="checkSubmitEmployeeForm">[[addemployeebutton]]</button></small>
    </div>
    <p class="mb-1">      
    <form>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputEmployeeFirstname">firstname</label>
      <input type="text" class="form-control" id="inlineFormInputEmployeeFirstname" placeholder="firstname" v-model="employeefirstname">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupEmployeePhone">phone</label>        
        <input type="text" class="form-control" id="inlineFormInputGroupEmployeePhone" placeholder="phone" v-model="employeephone">
    </div>

    <!-- new selection priv -->
    <div class="input-group col-sm-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Privillage</label>
    </div>
    <select   class="custom-select" id="inputGroupSelect03" v-model="employeeprivillage">
      <option selected value=2>Employee</option>
      <option value=1> Owner </option> 
    </select>
  </div>

    <!-- end -->
   
    <!-- Default unchecked -->
<!-- <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" v-model="">
    <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
</div> -->

      
  </div>
</form></p>
    <small class="text-muted container" >
        <ul class="list-group container">
     
   <li class="list-group-item d-flex justify-content-between lh-condensed container" v-cloak v-for="employee in employees" v-on:dblclick="editEmployee(employee.id,employee.first_name,employee.privillage,employee.phonenumber,employee.username,employee.password)" style="overflow: auto;">
        <div class="container">
        <h4  class="my-0" v-cloak>  [[employee.first_name]] </h4>
        <small class="text-muted" v-cloak> [[employee.phonenumber]] </small>
      </div>
      <div class="container">
      <h4 class="my-0" v-cloak> [[employee.email]] </h4>
      <small class="text-muted" v-cloak> [[toStringPriviilage(employee.privillage)]] </small>
        
      </div>
  
      <div class="container">
      <h4 class="my-0" v-cloak>  Available </h4>
        <div class="custom-control custom-checkbox" v-for="comp in company"  v-if="!checkOwnerShip(employee.id,comp.id)">
    <input type="checkbox" class="custom-control-input" v-bind:id="comp.business_name" v-on:click="onChange($event,employee.id,comp.id)"  v-bind:value="comp.business_name" >
    <label class="custom-control-label" v-bind:for="comp.business_name" v-cloak>[[comp.business_name]]</label>
</div>

  </div>
      

      <div class="container">
      <h4 class="my-0" v-cloak>  Allowed </h4>
      
        <div class="custom-control custom-checkbox" v-for="comp in company"  v-if="checkOwnerShip(employee.id,comp.id)" v-on:click="RemoveOwnerShip(employee.id,comp.id)">
   
    <span   v-cloak>[[comp.business_name]]</span>
</div>

  </div>

      <div class="container">

     <!--     <i id="trashitem" class="fa fa-unlock fa-2x pull-right" v-on:click="passwordReset(employee.id)">bar</i> -->
         

         <i id="trashitem" class="fa fa-trash fa-2x center"  data-toggle="modal" data-target="#exampleModal" v-on:click="prepDelete(employee.id,employee.first_name)"></i>

      </div>
      
      
  </li>

</ul>
    </small>
  </div>


<!-- end employee -->

</div>



</div>

{%endblock%}

{%block script%}
  <script >
new Vue({
	delimiters: ['[[', ']]'],
  el: '#settings',
  data:{
  	settings:"",
  	editstore:false,
  	editaccount:false,
  	editemployee:false,
    editcompany:false,
  	companyname:'',
  	companyaddress:'',
  	companyemail:'',
  	companyphone:'',
  	storename:'',
  	storeemail:'',
  	storephone:'',
  	storeaddress:'',
  	accountname:'',
  	accountbalance:'',
  	employeeusername:'',
  	employeepassword:'',
  	employeefirstname:'',
  	employeephone:'',
  	employees:'',
  	employeeid:'',
  	employeeuser:'',
	employeeprivillage:'',
	employeeposition:'',
	addemployeebutton:'Add',
  company_add_edit_button:'Add',
  	stores:'',
  	user:'',
  	companyid:1,
  	storeid:'',
  	company:'',
  	account:'',
  	accountid:'',
  	addstorebutton:'Add',
  	storecompanyid:1,
  	currentuserid:'',
  	tobedeleted:'',
  	nametobedeleted:'',
    companynature:'',
    userid:'{{user.id}}',
    state:false,
    myusersbuz:'',
    checkedBusinesses:[],
  	  },
  methods:{
    parseDate:function(date){

    return moment(date).format('LLLL');

    },

  	// company control code
  	checkSubmitCompanyForm:function(e){  
      if(this.editcompany){
        // updating editing item
        this.$http.put('/api/business/'+this.companyid+'/',{'business_name':this.companyname,'business_phone':this.companyphone,'business_location':this.companyaddress,'business_email':this.companyemail,'business_nature':this.companynature,'user':this.userid})
       .then(function(response){
        // this.items=response.data
      this.title=response.data
    	this.companyaddress='';
    	this.companyemail='';
    	this.companyname='';
    	this.companyphone='';
      this.editcompany=false;
      this.company_add_edit_button='Add'
      this.companynature='';
    	this.getCompany();

       })
       .catch(function(error){
        this.title='error getting items'
       })
        
      }  else{
        this.$http.post('/api/business/',{'business_name':this.companyname,'business_phone':this.companyphone,'business_location':this.companyaddress,'business_email':this.companyemail,'business_nature':this.companynature,'user':this.userid})
       .then(function(response){
        // title is the return company object after creation
        this.title=response.data
        this.grantOwnership(this.userid,this.title.id)
        this.createAccount_f0r_business(this.title)
        this.companyaddress='';
        this.companyemail='';
        this.companyname='';
        this.companyphone='';
        this.companynature='';

        	this.getCompany()
       })
       .catch(function(error){
        this.title='error getting items'
       })

      }         
        
      e.preventDefault();
    },
    grantOwnership:function(userid,businessid){
      console.log(userid)
      console.log(businessid)
      this.$http.post('/api/ownership/',{'business':businessid,'user':userid})
       .then(function(response){
        this.title=response.data
     
       })
       .catch(function(error){
        this.title='error getting items'
       })
    },
    

    prepDelete:function(id,name){
    this.tobedeleted=id
    this.nametobedeleted=name
    },
    stopDelete:function(){
    // alert(this.tobedeleted+' :'+this.nametobedeleted)
    this.tobedeleted=''
    this.nametobedeleted=''
    },
    getCompany:function(){
     this.$http.get('/api/business')
     .then(function(response){
      this.company=response.data      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    editCompany:function(id,name,address,email,phone,nature){
    	this.companyid=id;
    	this.companyaddress=address;
    	this.companyemail=email;
    	this.companyname=name;
    	this.companyphone=phone;
      this.companynature=nature
      this.editcompany=true;
      this.company_add_edit_button='Update'      
    }
    // end company control code
    
    // begin account control code
    // #########################
	// #########################
    // #########################
    // #########################
    // #########################
    // #########################
    ,
    checkSubmitAccountForm:function(e){  
        // updating editing item
        this.$http.put('/api/account/'+this.accountid+'/',{'account_name':this.accountname,'business':this.companyid,'account_balance':this.accountbalance})
       .then(function(response){
        // this.items=response.data
      this.title=response.data
    	this.accountname='';
    	this.accountbalance='';
    	this.getAccount();

       })
       .catch(function(error){
        this.title='error getting items'
       })
            
      e.preventDefault();
    },
    createAccount_f0r_business:function(business){
      this.$http.post('/api/account/',{'account_name':business.business_name,'business':business.id,'account_balance':0})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
      this.getAccount();
        
       })
       .catch(function(error){
        this.title='error getting items'
       })
    },
    getAccount:function(){
     this.$http.get('/api/account')
     .then(function(response){
      this.account=response.data
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    editAccount:function(companyid,id,name,amount){
    	this.companyid=companyid;
    	this.accountid=id;
    	this.accountname=name;
    	this.accountbalance=amount;    	

    }
    // not yet implemmented
    ,
      deleteAccount:function(id){
    	 this.$http.delete('/api/account/'+id+'/')
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.getAccount()
        // alert('response')
       })
       .catch(function(error){
        this.title='error getting items'
       })

    }

    // end account control code

    // begin employee control code
    // ###########################
    // ###########################
    // ###########################
    // ###########################
    // ###########################
    // ###########################
    // ###########################
    // ###########################
    // ###########################
       ,
    checkSubmitEmployeeForm:function(e){  
      if(this.editemployee){
        // updating editing item
        this.$http.put('/api/user/'+this.employeeid+'/',{'privillage':this.employeeprivillage,'first_name':this.employeefirstname,'phonenumber':this.employeephone,'username':this.employeeusername,'password':this.employeepassword})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.employeeid='';
    	this.employeeprivillage='';
    	this.employeeposition='';
    	this.employeefirstname='';      
    	this.editemployee=false;
    	this.employeephone='';
    	this.addemployeebutton='Add';
    	this.employeeuser='';
    	this.employecompany='';
    	this.getEmployee();

       })
       .catch(function(error){
        this.title='error getting items'
       })
        
      }  else{
      	$.notify('Adding Partner','info');
        this.$http.post('/api/user/',{'privillage':this.employeeprivillage,'first_name':this.employeefirstname,'phonenumber':this.employeephone})

       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.employeeuser='';
        this.employeeid='';
    	this.employeeprivillage='';
    	this.employeefirstname='';
    	this.employeeposition='';
    	this.employeephone='';
    	this.employecompany='';
    	$.notify('Partner Added','success');
    	this.getEmployee();
        
       })
       .catch(function(error){
        this.title='error getting items'
       })

      }         
        
      e.preventDefault();
    },passwordReset:function(id){
    	$.notify('reseting password','info');
    	this.$http.get('/resetpass/'+id+'/')
     .then(function(response){
      this.title=response.data
      $.notify('password reset complete','success');
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },onChange(event,userid,businessid) {
      console.log(event.target);
      console.log(event.target.checked)
      
      console.log(event.target.value)

      if(event.target.checked){
        this.grantOwnership(userid,businessid)
        console.log(this.checkedBusinesses)
      }

      else this.RemoveOwnerShip(userid,businessid)
      
      this.getEmployee()
    this.getCompany()
      // this.$emit("input", event.target.checked)
    },
    checkOwnerShip:function(userid,businessid){
      console.log(userid)
      console.log(businessid)
    //   this.$http.post('/checkownership/'+userid+'/'+businessid+'/',{'business':businessid,'user':userid})
    //    .then(function(response){
    //     this.title=response.data
    //   console.log('response title')
    //  console.log(this.title)
    //  if(response.data=='ok'){
    //     console.log('response')
    //     console.log(true)
    //   // document.getElementById(id).checked="true";
    //   this.state=true
    // }
    //     else {
    //       console.log('response')
    //       console.log(false)
    //   // document.getElementById(id).checked="false";
    //         this.state=false

    // }
    //    })
    //    .catch(function(error){
    //     this.title='error getting items'
    //    })
    var state=false
    $.each(this.myusersbuz, function(key, value) {
           if(value.user == userid && value.business == businessid){
      state=true;

               }

         });
    console.log('state')
    console.log(state)

    return state


    }

  ,
    RemoveOwnerShip:function(userid,businessid){
      console.log(userid)
      console.log(businessid)
      this.$http.post('/removeownership/'+userid+'/'+businessid+'/',{'business':businessid,'user':userid})
       .then(function(response){
        this.title=response.data
        console.log('remove ownership')
        this.getEmployee()
        this.getCompany()

       })
       .catch(function(error){
        this.title='error getting items'
       })

       if(this.title=='ok')return true
        else return false

    },
  getMyuserBusinesses:function(){
    this.$http.get('/get/myusers/buz/')
     .then(function(response){
      this.myusersbuz=response.data
      // alert(this.myusersbuz)
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
  }

    ,getEmployee:function(){
     this.$http.get('/get/myusers')
     .then(function(response){
      this.employees=response.data
      this.getMyuserBusinesses()
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    },
    editEmployee:function(id,firstname,privillage,phone,username,password){
    	this.employeeid=id;
    	this.employeefirstname=firstname;
    	this.employeeprivillage=privillage;
    	this.employeephone=phone;
    	this.addemployeebutton="Edit";
    	this.editemployee=true;
      this.employeeusername=username;
      this.employeepassword=password

    },
    deleteEmployee:function(){
    	id=this.tobedeleted
    	 this.$http.delete('/api/user/'+id+'/')
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        this.tobedeleted=''
        this.nametobedeleted=''
        this.getEmployee()
        // alert('response')
       })
       .catch(function(error){
        this.title='error getting items'
       })

    },
    toStringPriviilage:function(priv){
    	if(priv==3){
    		return "sales";
    	}else if(priv == 1){
    		return "Owner";
    	}else if(priv == 2){
    		return "Employee"

    	}else if(priv == 4){
    		return "bursar"
    		
    	}else if(priv == 5){
    		return "godown";
    	}

    }

    // end employee control code

  }
  ,
    beforeMount(){
      this.getCompany()
      this.getAccount()
      this.getEmployee()
    }
})

  </script>
{%endblock%}